[submodule "Libs/OptionsMenu"]
	path = Libs/OptionsMenu
	url = git@github.com:justindhill/OptionsMenu.git
[submodule "Libs/BTNavigationDropdownMenu"]
	path = Libs/BTNavigationDropdownMenu
	url = git@github.com:justindhill/BTNavigationDropdownMenu.git
