[submodule "Libs/OptionsMenu"]
	path = Libs/OptionsMenu
	url = git@github.com:justindhill/OptionsMenu.git
[submodule "Libs/BTNavigationDropdownMenu"]
	path = Libs/BTNavigationDropdownMenu
	url = git@github.com:justindhill/BTNavigationDropdownMenu.git
[submodule "Libs/MLTableAlert"]
	path = Libs/MLTableAlert
	url = git@github.com:MatthewLabs/MLTableAlert
