[submodule "Facets/Libs/OptionsMenu"]
	path = Facets/Libs/OptionsMenu
	url = git@github.com:justindhill/OptionsMenu.git
[submodule "Facets/Libs/BTNavigationDropdownMenu"]
	path = Facets/Libs/BTNavigationDropdownMenu
	url = git@github.com:justindhill/BTNavigationDropdownMenu.git
